@model IEnumerable<Category>
@{
    ViewData["Title"] = "Categories List";
}

<div class="card mb-4">
    <div class="card-header">Categories</div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                    @foreach (var item in Model)
                    {
                        <li><a href="/Categories/Index/@item.CategoryID">@item.CategoryName</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
